In [1]:
import pandas as pd

In [2]:
orders = pd.read_csv("./orders.csv")
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [3]:
products=pd.read_csv("./products.csv")
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [5]:
products

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
...,...,...,...,...
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5
49684,49685,En Croute Roast Hazelnut Cranberry,42,1
49685,49686,Artisan Baguette,112,3
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8
49687,49688,Fresh Foaming Cleanser,73,11

In [6]:
aisle = pd.read_csv("./aisles.csv")
dept=pd.read_csv("./departments.csv")

In [7]:
prod_final=products.merge(aisle, on="aisle_id")

In [8]:
prod_final

,product_id,product_name,aisle_id,department_id,aisle
0,1,Chocolate Sandwich Cookies,61,19,cookies cakes
1,78,Nutter Butter Cookie Bites Go-Pak,61,19,cookies cakes
2,102,Danish Butter Cookies,61,19,cookies cakes
3,172,Gluten Free All Natural Chocolate Chip Cookies,61,19,cookies cakes
4,285,Mini Nilla Wafers Munch Pack,61,19,cookies cakes
...,...,...,...,...,...
49683,47769,Peas and Potatoe Roti Paratha,76,6,indian foods
49684,48292,Punjabi Chhole Chickpeas with Potatoes & Onions,76,6,indian foods
49685,48480,Punjab Eggplant,76,6,indian foods
49686,48830,Pav Bhaji Mashed Vegetable Curry,76,6,indian foods
49687,49278,Channa Masala Chickpea Curry,76,6,indian foods

In [9]:
del prod_final["aisle_id"]

In [10]:
prod_final=prod_final.merge(dept, on="department_id")
del prod_final["department_id"]
prod_final.head()

,product_id,product_name,aisle,department
0,1,Chocolate Sandwich Cookies,cookies cakes,snacks
1,78,Nutter Butter Cookie Bites Go-Pak,cookies cakes,snacks
2,102,Danish Butter Cookies,cookies cakes,snacks
3,172,Gluten Free All Natural Chocolate Chip Cookies,cookies cakes,snacks
4,285,Mini Nilla Wafers Munch Pack,cookies cakes,snacks

In [11]:
prod_final

,product_id,product_name,aisle,department
0,1,Chocolate Sandwich Cookies,cookies cakes,snacks
1,78,Nutter Butter Cookie Bites Go-Pak,cookies cakes,snacks
2,102,Danish Butter Cookies,cookies cakes,snacks
3,172,Gluten Free All Natural Chocolate Chip Cookies,cookies cakes,snacks
4,285,Mini Nilla Wafers Munch Pack,cookies cakes,snacks
...,...,...,...,...
49683,22827,Organic Black Mission Figs,bulk dried fruits vegetables,bulk
49684,28655,Crystallized Ginger Chunks,bulk dried fruits vegetables,bulk
49685,30365,Vegetable Chips,bulk dried fruits vegetables,bulk
49686,38007,Naturally Sweet Plantain Chips,bulk dried fruits vegetables,bulk
49687,48778,"Fit Super A Juice, Cold Pressed, Carrot/Apple/...",bulk dried fruits vegetables,bulk

In [24]:
order_prior=pd.read_csv("order_products__prior.csv")
#order_train=pd.read_csv("order_products__train.csv")
order_prior

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [32]:
order_list=order_prior.merge(prod_final, on="product_id", how="left")

KeyError: 'product_id'

In [20]:
order_list

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle,department
0,2,33120,1,1,Organic Egg Whites,eggs,dairy eggs
1,2,28985,2,1,Michigan Organic Kale,fresh vegetables,produce
2,2,9327,3,0,Garlic Powder,spices seasonings,pantry
3,2,45918,4,1,Coconut Butter,oils vinegars,pantry
4,2,30035,5,0,Natural Sweetener,baking ingredients,pantry
...,...,...,...,...,...,...,...
32434484,3421083,39678,6,1,Free & Clear Natural Dishwasher Detergent,dish detergents,household
32434485,3421083,11352,7,0,Organic Mini Sandwich Crackers Peanut Butter,crackers,snacks
32434486,3421083,4600,8,0,All Natural French Toast Sticks,frozen breakfast,frozen
32434487,3421083,24852,9,1,Banana,fresh fruits,produce
32434488,3421083,5020,10,1,Organic Sweet & Salty Peanut Pretzel Granola ...,energy granola bars,snacks

In [35]:
order_list.sample(frac=.05)

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle,department
7483092,789928,17872,1,1,Total 2% Lowfat Plain Greek Yogurt,yogurt,dairy eggs
11549800,1219318,6128,22,1,Original Fresh Stack Crackers,crackers,snacks
4865537,513576,19505,10,0,Sliced Mushrooms,fresh vegetables,produce
29909590,3154717,10831,7,1,Yobaby Organic Plain Yogurt,yogurt,dairy eggs
25576327,2697337,4605,4,1,Yellow Onions,fresh vegetables,produce
...,...,...,...,...,...,...,...
26879492,2834330,35391,13,0,Sun Dried Tomatoes,canned jarred vegetables,canned goods
29064054,3065227,3952,20,1,Organic Broccoli Crowns,fresh vegetables,produce
3575878,377795,33754,5,1,Total 2% with Strawberry Lowfat Greek Strained...,yogurt,dairy eggs
20148739,2125174,8138,13,1,Traditional Hummus,fresh dips tapenades,deli
14980995,1580745,9159,12,0,Chopped Ginger,pickled goods olives,pantry

In [39]:
order_list['reordered'].value_counts()

1    19126536
0    13307953
Name: reordered, dtype: int64

In [36]:
order_list.to_csv("./training_data.csv")