In [1]:
import pandas as pd

In [2]:
orders = pd.read_csv("./orders.csv")
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [3]:
products=pd.read_csv("./products.csv")
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [5]:
products

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
...,...,...,...,...
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5
49684,49685,En Croute Roast Hazelnut Cranberry,42,1
49685,49686,Artisan Baguette,112,3
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8
49687,49688,Fresh Foaming Cleanser,73,11

In [6]:
aisle = pd.read_csv("./aisles.csv")
dept=pd.read_csv("./departments.csv")

In [7]:
prod_final=products.merge(aisle, on="aisle_id")

In [8]:
prod_final

,product_id,product_name,aisle_id,department_id,aisle
0,1,Chocolate Sandwich Cookies,61,19,cookies cakes
1,78,Nutter Butter Cookie Bites Go-Pak,61,19,cookies cakes
2,102,Danish Butter Cookies,61,19,cookies cakes
3,172,Gluten Free All Natural Chocolate Chip Cookies,61,19,cookies cakes
4,285,Mini Nilla Wafers Munch Pack,61,19,cookies cakes
...,...,...,...,...,...
49683,47769,Peas and Potatoe Roti Paratha,76,6,indian foods
49684,48292,Punjabi Chhole Chickpeas with Potatoes & Onions,76,6,indian foods
49685,48480,Punjab Eggplant,76,6,indian foods
49686,48830,Pav Bhaji Mashed Vegetable Curry,76,6,indian foods
49687,49278,Channa Masala Chickpea Curry,76,6,indian foods

In [9]:
del prod_final["aisle_id"]

In [10]:
prod_final=prod_final.merge(dept, on="department_id")
del prod_final["department_id"]
prod_final.head()

,product_id,product_name,aisle,department
0,1,Chocolate Sandwich Cookies,cookies cakes,snacks
1,78,Nutter Butter Cookie Bites Go-Pak,cookies cakes,snacks
2,102,Danish Butter Cookies,cookies cakes,snacks
3,172,Gluten Free All Natural Chocolate Chip Cookies,cookies cakes,snacks
4,285,Mini Nilla Wafers Munch Pack,cookies cakes,snacks

In [11]:
prod_final

,product_id,product_name,aisle,department
0,1,Chocolate Sandwich Cookies,cookies cakes,snacks
1,78,Nutter Butter Cookie Bites Go-Pak,cookies cakes,snacks
2,102,Danish Butter Cookies,cookies cakes,snacks
3,172,Gluten Free All Natural Chocolate Chip Cookies,cookies cakes,snacks
4,285,Mini Nilla Wafers Munch Pack,cookies cakes,snacks
...,...,...,...,...
49683,22827,Organic Black Mission Figs,bulk dried fruits vegetables,bulk
49684,28655,Crystallized Ginger Chunks,bulk dried fruits vegetables,bulk
49685,30365,Vegetable Chips,bulk dried fruits vegetables,bulk
49686,38007,Naturally Sweet Plantain Chips,bulk dried fruits vegetables,bulk
49687,48778,"Fit Super A Juice, Cold Pressed, Carrot/Apple/...",bulk dried fruits vegetables,bulk

In [24]:
order_prior=pd.read_csv("order_products__prior.csv")
#order_train=pd.read_csv("order_products__train.csv")
order_prior

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [51]:
order_list=order_prior.merge(prod_final, on="product_id", how="left")

In [52]:
order_list

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle,department
0,2,33120,1,1,Organic Egg Whites,eggs,dairy eggs
1,2,28985,2,1,Michigan Organic Kale,fresh vegetables,produce
2,2,9327,3,0,Garlic Powder,spices seasonings,pantry
3,2,45918,4,1,Coconut Butter,oils vinegars,pantry
4,2,30035,5,0,Natural Sweetener,baking ingredients,pantry
...,...,...,...,...,...,...,...
32434484,3421083,39678,6,1,Free & Clear Natural Dishwasher Detergent,dish detergents,household
32434485,3421083,11352,7,0,Organic Mini Sandwich Crackers Peanut Butter,crackers,snacks
32434486,3421083,4600,8,0,All Natural French Toast Sticks,frozen breakfast,frozen
32434487,3421083,24852,9,1,Banana,fresh fruits,produce
32434488,3421083,5020,10,1,Organic Sweet & Salty Peanut Pretzel Granola ...,energy granola bars,snacks

In [53]:
order_list=order_list.sample(frac=.04)
order_list

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle,department
27881571,2940166,11461,12,1,White Corn Tortillas,tortillas flat bread,bakery
18471308,1948408,1559,5,1,Cherry Pomegranate Greek Yogurt,yogurt,dairy eggs
9404035,992693,44475,1,1,Honey Bunches of Oats Honey Roasted with Almon...,cereal,breakfast
31016075,3271594,19660,7,1,Spring Water,water seltzer sparkling water,beverages
1772830,186949,7728,1,0,White Balsamic Vinegar,oils vinegars,pantry
...,...,...,...,...,...,...,...
28554263,3011428,13745,6,1,Cinnamon Whiskey,spirits,alcohol
3274974,345880,19376,6,1,Gluten Free Crunchy Vanilla Cereal,cereal,breakfast
9064174,956929,28849,20,0,No Salt Added Black Beans,canned meals beans,canned goods
9699918,1024048,7500,4,1,Organic Vanilla Extract,baking ingredients,pantry
30572067,3224689,45064,1,1,Honey Wheat Bread,bread,bakery

In [54]:
order_list['reordered'].value_counts()

1    764384
0    532996
Name: reordered, dtype: int64

In [56]:
order_list.to_csv("./training_data.csv", index=False)